/*login and logout page*/

/*h1, h2, h3, h4, p{
  font-family: 'Lato';
}*/

.header{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 9;
}
.header h1{
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}

.body{
  background-color: black;
}

.container{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border-radius: 10px;
}

.form{
  width: 211px;
  position: relative;
  -webkit-appearance: none;
  left: 50%;
  top:50px;
  height:150px;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.form input{
  border: 1px solid black;
  width: 200px;
  height: 34px;
  margin-bottom: 10px;
  padding: 4px;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#container-title p{
  margin: 0;
  font-family: 'Open Sans';
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 120px;
  top: 25px;
  letter-spacing: 1px;
}

#register-title p{
  margin: 0;
  font-family: 'Open Sans';
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 79px;
  top: 25px;
  letter-spacing: 1px;
}

#button{
  -webkit-appearance: none;
  width: 210px;
  height: 35px;
  background-color: transparent;
  border: 1px solid black;
  font-family: 'Open Sans';
  text-transform: uppercase;
  outline: 0;
  letter-spacing: 1px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:  all .3s ease-in-out;
  -o-transition:  all .3s ease-in-out;
}

#button:hover{
  background-color: black;
  color: white;
}

#reg-account{
  position: relative;
  top: 45px;
  left: 50%;
  width: 177px;
  transform: translate(-50%);
}

#reg-account p{
  font-family: 'Open Sans';
  font-size:12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#reg-account a{
  position: relative;
  left: 58px;
  font-family: 'Open Sans';
  font-size:12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

#login-account{
  position: relative;
  top: 45px;
  left: 50%;
  width: 177px;
  transform: translate(-50%);
}

#login-account p{
  font-family: 'Open Sans';
  font-size:12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 132px;
}

#login-account a{
  position: relative;
  left: 69px;
  font-family: 'Open Sans';
  font-size:12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.error-message{
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 20px;
  z-index: 9;
  color: black;
}

.home-video{
  position:fixed;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%,-50%);
  z-index: -1;
  opacity: .9;
}

/*Home Page*/

.logout-button{
  z-index: 9;
}

.logout-button button{
  -webkit-appearance: none;
  border: 1px solid white;
  height: 35px;
  padding: 8px;
  color: white;
  font-family: 'Open Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  right: 35px;
  top: 36px;
  font-size: 12px;
  background-color: transparent;
}

.logout-button button:hover{
  color: black;
  background-color: white;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:  all .3s ease-in-out;
  -o-transition:  all .3s ease-in-out;
}

.logout-button2{
  z-index: 9;
}

.logout-button2 button{
  -webkit-appearance: none;
  border: 1px solid black;
  height: 35px;
  padding: 8px;
  color: black;
  font-family: 'Open Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  right: 35px;
  top: 36px;
  font-size: 12px;
  background-color: transparent;
}

.logout-button2 button:hover{
  color: white;
  background-color: black;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:  all .3s ease-in-out;
  -o-transition:  all .3s ease-in-out;
}

.home-button{
  z-index: 9;
}

.home-button button{
  -webkit-appearance: none;
  border: 1px solid black;
  height: 35px;
  padding: 8px;
  color: black;
  font-family: 'Open Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  left: 35px;
  top: 36px;
  font-size: 12px;
  background-color: transparent;
}

.home-button a{
  text-decoration: none;
  color: black;
}

.home-button button:hover{
  color: white;
  background-color: black;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:  all .3s ease-in-out;
  -o-transition:  all .3s ease-in-out;
}

.home-button a:hover{
  text-decoration: none;
  color: white;
}


.home-button2 button{
  -webkit-appearance: none;
  border: 1px solid white;
  height: 35px;
  padding: 8px;
  color: white;
  font-family: 'Open Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  left: 35px;
  top: 36px;
  font-size: 12px;
  background-color: transparent;
}

.home-button2 a{
  text-decoration: none;
  color: white;
}

.home-button2 button:hover{
  color: black;
  background-color: white;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:  all .3s ease-in-out;
  -o-transition:  all .3s ease-in-out;
}

.home-button2 a:hover{
  text-decoration: none;
  color: black;
}

.links{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 373px;
}

.links ul{
  list-style-type: none;
}

.links li{
  height: 120px;
  width: 300px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.links a{
  font-family: 'Open Sans';
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  left: 123px;
  top: 46px;
  transform: translate(-50%);
}

body > div.ng-scope > div.links.ng-scope > ul > li:nth-child(3) > a{
  left: 134px;
}
